<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alium.niboexample">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:theme, android:icon"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_key" />

        <activity
            android:name="com.alium.nibo.origindestinationpicker.NiboOriginDestinationPickerActivity"
            android:label="@string/title_activity_origin_destination_picker"
            tools:replace="android:theme"
            android:theme="@style/NiboOrigDestTheme.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            tools:replace="android:theme"
            android:theme="@style/NiboActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>