<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alium.nibo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".placepicker.NiboPlacePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/NiboPlacePickerTheme.NoActionBar" />
        <activity
            android:name=".origindestinationpicker.NiboOriginDestinationPickerActivity"
            android:label="@string/title_activity_origin_destination_picker"
            android:theme="@style/NiboTheme" />
    </application>

</manifest>